language: go

go:
  - 1.12.x
  - 1.13.x
  - 1.14.x
  - master

jobs:
  allow_failures:
    - go: master
  fast_finish: true

env:
  - GO111MODULE=on

install: true

script:
  - ./ci/test.sh

after_success:
  - bash <(curl -s https://codecov.io/bash)
